.explain {
    font-size: 10px;
    min-height: 50px;
    text-align: justify;
    vertical-align: top;
    font-style: italic;
}

/* overwritten by twig template with hide if debug is disabled */
.explanation {
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 15px;
}

.spinfo input {
    width: 300px;
    margin-right:10px;
}
.spinfo a {
    width: 150px;
}

.glpisaml textarea {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    width:100%;
    min-height:150px;
    font-size:10px;
}

.glpisaml input {
    font-size:12px;
}